#right-content-command {
    flex: 1;
    text-align: right;
    align-items: center;
}
.icons_team {
    height: 25px;
    width: 25px;
}

.text_footer {
    text-decoration: none;
    color:black;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    height:10px
}

.footer-item {
    display: flex;
    align-items: center;
    color: white;
}

 .footer-item span {
        margin-right: 5px;
    }

.icon {
    width: 24px;
    height: 24px;
}